<div class="fb-page" data-href="https://www.facebook.com/radio.RBS.91.9FM/"
  data-tabs="timeline"
  data-small-header="true"
  data-width="500"
  data-height="600" 
  data-adapt-container-width="true"
  data-hide-cover="false"
  data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/radio.RBS.91.9FM/" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/radio.RBS.91.9FM/">Radio Bienvenue Strasbourg - RBS 91.9 FM</a>
  </blockquote>
</div>
