<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/css/jplayer.blue.monday.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{'/favicon.ico' | absolute_url }}">

  <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/skel.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/util.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | prepend: site.baseurl }}" type="text/javascript"></script><![endif]-->
  <script src="{{ "/assets/js/tabbedcontent.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/jquery.jplayer.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/jplayer.playlist.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>


  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}
</head>
