{% assign page_links = site.data.header_pages %}

<header id="header">

  <h1><a class="" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

  {% if page_links %}
    <nav class="links">
      <ul>
        {% for page in page_links %}
          {% if page.in_fixed_nav %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <nav class="main">
    <ul>
      <!-- <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li> -->
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>

<!-- MENU ===================================== -->
<section id="menu">

  <!-- Search -->
    <!-- <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
      </form>
    </section> -->

  <!-- Links -->
  {% if page_links %}
    <section>
      <ul class="links">
        {% for page in page_links %}
          {% if page.title %}
            <li>
              <a href="{{ page.url | relative_url }}">
                <h3>{{ page.title | escape }}</h3>
                {% if page.subtitle %}
                  <p>{{page.subtitle}}</p>
                {% endif %}
              </a>
            </li>
        {% endif %}
      {% endfor %}
      </ul>
    </section>
  {% endif %}

    <!-- <section>
      <ul class="actions vertical">
        <li><a href="#" class="button big fit">Log In</a></li>
      </ul>
    </section> -->

</section>
