<div class="partners-row">
  {% for partner in site.data.partners %}
    <div class="partners-logo2">
      	<a href="{{ partner.url | relative_url }}" target="_blank" title="Site {{partner.title}}">
          <img src="{{ site.baseurl }}/assets/img/partners/{{ partner.logo }}" height="60" alt="{{ partner.title }}">
        </a>
    </div>
  {% endfor %}
</div>
