{% assign program = site.programs | where: "title", include.title  | first %}
<td align="center"><a href="{{ program.url | relative_url }}" target="_top" rel="author" title="{{ program.description }}"> {{ program.title }} </a></td>
<td></td>
{% assign slugified_type = program.type | slugify %}
<td><span class="icon-{{slugified_type}}"></span>{{ program.type }}</td>
