<section class="sidebar block">

  <!-- Mini Posts -->
    <section>
      <h3>Toutes nos émissions</h3>
      <div class="mini-posts">
				{% include program-list.html %}
      </div>
    </section>
</section>
