<div class="programs-grid">
  <ul>
    <li><a href="#tab-1">Lundi</a></li>
    <li><a href="#tab-2">Mardi</a></li>
    <li><a href="#tab-3">Mercredi</a></li>
    <li><a href="#tab-4">Jeudi</a></li>
    <li><a href="#tab-5">Vendredi</a></li>
    <li><a href="#tab-6">Samedi</a></li>
    <li><a href="#tab-7">Dimanche</a></li>
  </ul>
  <div class="tabscontent">
    <div id="tab-1">
      <table class="today" width="180" title="lundi">
          <tbody>
              <tr class="border_bottom">
                  <td class="grid_hour">00h00 / 06h00 </td>
                  {% include program-cell.html title="Les nocturnes" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">06h00 / 10h00 </td>
                  {% include program-cell.html title="Le Morning de Talri" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">10h00 / 11h00 </td>
                  {% include program-cell.html title="Stephane Bossler" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">11h00 / 12h00 </td>
                  {% include program-cell.html title="Sun is shining" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">12h00 / 13h00 </td>
                  {% include program-cell.html title="Le son de Stras" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">13h00 / 16h00 </td>
                  {% include program-cell.html title="RBStyle" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">16h00 / 18h00 </td>
                  {% include program-cell.html title="D’Antho Poste" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">18h00 / 20h00 </td>
                  {% include program-cell.html title="Future is now" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">20h00 / 22h00 </td>
                  {% include program-cell.html title="Mojito FC" %}
              </tr>
              <tr class="border_bottom">
                  <td class="grid_hour">22h00 / 00h00 </td>
                  {% include program-cell.html title="Nighties" %}
              </tr>
          </tbody>
      </table>
    </div>
    <div id="tab-2">
        mardi
    </div>
    <div id="tab-3">
        mercredi
    </div>
    <div id="tab-4">
        jeudi
    </div>
    <div id="tab-5">
        vendredi
    </div>
    <div id="tab-6">
        samedi
    </div>
    <div id="tab-7">
        dimanche
    </div>
  </div>
</div>
