<section id="sidebar">

  <!-- Intro -->
    <section id="intro">
      <a href="/" class="logo">
        <img src="{{ "/assets/img/LOGO_LH_72dpi.png" | prepend: site.baseurl }}" alt="logo la haut" />
      </a>
      <header>
        <h2>{{ site.title | escape }}</h2>
        <p>Radio Bienvenue Strasbourg, en direct sur le 91.9 fm</p>
      </header>
    </section>

  <!-- Mini Posts -->
    <section>
      <h3>Nos travaux en cours</h3>
      <div class="mini-posts">
        {% assign territory_posts = site.posts | where: "territory", "Villefranche" %}
        {% for post in territory_posts %}
          {% include components/mini-post.html %}
        {% endfor %}

      </div>
    </section>

  <!-- Posts List -->
    <!-- <section>
      <ul class="posts">
        {% for post in site.posts %}
          <li>
            {% include components/xs-post.html %}
          </li>
        {% endfor %}
      </ul>
    </section> -->

  <!-- About -->
    <section class="blurb">
      <h2>A propos</h2>
      <p>{{ site.description | escape }}</p>
      <ul class="actions">
        <li><a href="#" class="button">En savoir plus</a></li>
      </ul>
    </section>

    {% include footer.html %}

</section>
