---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900');


/*
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 1em )
	));

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/author';
	@import 'components/blurb';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/mini-post';
	@import 'components/post';
	@import 'components/section';
	@import 'components/table';
	@import 'components/partners';
	@import 'components/block';
	@import 'components/program-grid';
	@import 'components/jplayer';

// Layout.

	@import 'layout/header';
	@import 'layout/wrapper';
	@import 'layout/main';
	@import 'layout/sidebar';
	@import 'layout/intro';
	@import 'layout/footer';
	@import 'layout/menu';
	@import 'layout/category-index';
	@import 'layout/home';
