<article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      {% if post.subtitle %}
        <p>{{post.subtitle}}</p>
      {% endif %}
    </div>
    <div class="meta">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {% assign meta_date_format = site.format.meta_date_format | default: "%Y-%m-%d" %}
      <time class="published" datetime="{{ post.date | date: meta_date_format }}">{{ post.date | date: date_format }}</time>
      <!-- <time class="published" datetime="2015-11-01">November 1, 2015</time> -->
      {% if post.author %}
        <a href="#" class="author"><span class="name">{{ post.author }}</span><img src="/assets/img/avatar.jpg" alt="" /></a>
      {% endif %}
    </div>
  </header>
  <p>
    {% if post.image %}
    <a href="{{ post.url | relative_url }}" class="image left"><img src="{{post.image}}" alt="" /></a>
    {% endif %}
    {{ post.content }}
  </p>
  <footer>
    <!-- <ul class="actions">
      <li><a href="{{ post.url | relative_url }}" class="button big">Continuer à lire</a></li>
    </ul> -->
    <!-- <ul class="stats">
      {% if post.categories %}
        {% for category in post.categories %}
          {% assign slugified_category = category | slugify %}
          <li><a href="{{ slugified_category | relative_url | prepend: '/categories/' }}">{{ category }}</a></li>
        {% endfor %}
      {% endif %} -->
      <!-- <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li> -->
    <!-- </ul> -->
  </footer>
</article>
