.home-intro_player {
  .jp-audio, .jp-audio-stream, .jp-video {
    border: none;
    // background-color: _palette(rbs-dark);
  }
  // .jp-interface {
  //   background-color: _palette(rbs-dark);
  // }
  // .jp-details, .jp-playlist {
  //   background-color: _palette(rbs-dark);
  //   color: _palette(rbs-red)
  // }
}

.jplayer-playlist {
  float: right;
}
