
div.programs-grid {
  margin: 30px 0;
  ul {
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #666;
    overflow: hidden;
  }
  ul li {
    list-style: none;
    float: left;
    margin-right: 4px;
    padding-left: 0
  }
  ul li.controls {
    float: right;
  }
  ul li a {
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    color: #888;
    outline: 0;
    text-decoration: none;
    background: _palette(rbs-light);
  }

  ul li.active a {
    pointer-events: none;
    color: white;
    background: _palette(rbs-dark);
  }
  // div.tabscontent > div {
  //   padding: 0 15px;
  // }
  div.controls {
    float: right;
  }
  div.controls a {
    margin-left: 5px;
  }
  .lorem {
    font-style: italic;
  }
}
