<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include head.html %}

  <body {% unless page.sidebar or page.program-sidebar  %}class="single"{% endunless %}>
    <div id="wrapper">
      {% include header.html %}

      <main id="main" aria-label="Content">
        <!-- <div class="wrapper"> -->
        {{ content }}
        <!-- </div> -->
      </main>

      {% if page.sidebar %}
        {% include sidebar.html %}
      {% elsif page.program-sidebar %}
        {% include program-sidebar.html %}
      {% else %}
          {% include footer.html %}
      {% endif %}

    </div>


  </body>

</html>
