---
layout: default
---
{% include fb_sdk_javascript.html %}

<div class="home">

  <section class="home-intro">
    <div class="home-intro_text">
      <a href="/" class="logo">
        <img src="{{ "/assets/img/logo_rbs_condensed.png" | prepend: site.baseurl }}" alt="logo la haut" />
      </a>
      <header>
        <h2>{{ site.title | escape }}</h2>
        <p>Radio Bienvenue Strasbourg, en direct sur le 91.9 fm</p>
      </header>
    </div>
    <div class="home-intro_player">
      {% include components/jplayer.html %}
    </div>
  </section>


  {{ content }}

  <div class="post-list">
    {% assign highlighted_posts = site.posts | where: "highlighted", true %}
    {% for post in highlighted_posts %}
      {% include components/post.html %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="6u 12u(mobile)">

      <!-- Box #1 -->
        <section class="block">
          <header>
            <div class="title">
            <h2>Twitter</h2>
          </div>
          </header>
          {% include twitter_widget.html %}
        </section>

    </div>
    <div class="6u 12u(mobile)">

      <!-- Box #2 -->
      <section class="block">
        <header>
          <div class="title">
            <h2>Facebook</h2>
          </div>
        </header>
        {% include fb_page_widget.html %}
      </section>

    </div>
  </div>


</div>
