---
layout: default
---
<article class="post">

  <header>
    <div class="title">
      <h2><a href="#">{{ page.title | escape }}</a></h2>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
    </div>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <footer>
    <ul class="stats">
      {% if page.categories %}
        <td>
          {% for category in page.categories %}
          <li><a href="#">{{ category }}</a></li>
          {% endfor %}
        </td>
      {% endif %}
    </ul>
  </footer>

</article>
