---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="title">
      <h2><a href="#">{{ page.title | escape }}</a></h2>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
    </div>
    <div class="meta">
      {% if page.date %}
        {% assign date_format = site.format.date_format | default: "%b %-d, %Y" %}
        {% assign meta_date_format = site.format.meta_date_format | default: "%Y-%m-%d" %}
          <time class="published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
      {% endif %}
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="#" class="author">
            <span class="name" itemprop="name">{{ page.author }}</span><img src="/assets/img/avatar.jpg" alt="" />
          </a>
        </span>
      {% endif %}
    </div>
  </header>
  <div class="" itemprop="articleBody">
    {% if page.image %}
    <span class="image left">
      <img src="{{page.image | relative_url }}" alt="" />
    </span>
    {% endif %}
    {{content}}
  </div>
  <footer>
    <ul class="stats">
      {% if page.categories %}
        <td>
          {% for category in page.categories %}
            {% assign slugified_category = category | slugify %}
            <li><a href="{{ slugified_category | relative_url | prepend: '/categories/' }}">{{ category }}</a></li>
          {% endfor %}
        </td>
      {% endif %}
      <!-- <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li> -->
    </ul>
  </footer>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
