---
layout: default
---

<!-- Content -->

<article class="post program-post">
  <header>
    <div class="title">
      <h2>{{ page.title }}</h2>
      {% if page.type %}
        <p>{{ page.type }}</p>
      {% endif %}
    </div>
    <div class="meta">
      {% if page.schedule %}
        <p>
          {{ page.schedule }}
        </p>
      {% endif %}
      {% if page.period %}
        <p>
          {{ page.period }}
        </p>
      {% endif %}
    </div>
  </header>
  <div class="post-content">
    {% if page.image %}
      <span class="image left">
        <img src="{{ site.baseurl }}/assets/img/emissions/{{ page.image }}"  alt="{{ page.title }}" />
      </span>
    {% endif %}
    {{ content }}
    <div class="jplayer-playlist">
      {% include components/jplayer-playlist.html %}
    </div>
  </div>

  <footer>
    <div class="meta">
      {% if page.presenter %}
        <p>
          Animateur : {{ page.presenter }}
        </p>
      {% endif %}
      {% if page.website_url %}
        <p>
          <a href="{{ page.website_url }}" target="_blank">Site web {{page.title}}</a>
        </p>
      {% endif %}
    </div>
    <div class="meta">
      {% if page.rss_url %}
        <a href="{{ page.rss_url }}" target="_blank">
          <img src="{{ site.baseurl }}/assets/img/rss.png"  alt="{{ page.title }}" />
        </a>
      {% endif %}
    </div>
  </footer>

</article>
