---
layout: default
---

<!-- Content -->

<article class="post">
  <header>
    <div class="title">
      <h2>{{ page.title }}</h2>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
    </div>
  </header>
  <div class="post-content">
    {% if page.image %}
      <span class="image left">
        <img src="{{ site.baseurl }}/assets/img/emissions/{{ page.image }}"  alt="{{ page.title }}" />
      </span>
    {% endif %}
    {{ content }}
  </div>

</article>
