.home-intro {
  display: flex;
  justify-content:         space-between;
}
.home-intro_text {
	margin-right: _size(section-spacing);
	// min-width: 22em;
	// width: 22em;
  display: flex;
  justify-content:         space-between;
  h2 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0
  }

	@include breakpoint(large) {
		border-top: solid 1px _palette(border);
		margin: _size(section-spacing) 0 0 0;
		min-width: 0;
		padding: _size(section-spacing) 0 0 0;
		width: 100%;
	}
  .logo {
    // border-bottom: 0;
    // display: inline-block;
    // margin: 0 0 1em 0;
    // overflow: hidden;
    // position: relative;
    width: 7em;
  }
  .logo img {
    display: block;
    margin-left: -0.25em;
    width: 6.5em;
  }
}
